{% extends "base.html" %}
{% load bootstrap4 %}

{% block path %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
    <li class="breadcrumb-item"><a href="{% url 'dj-gymnasiums:list' %}">Gymnases</a></li>
    {% if 'create' in request.path %}
    <li class="breadcrumb-item active" aria-current="page">Création</li>
    {% elif 'update' in request.path %}
    <li class="breadcrumb-item active" aria-current="page">Modification</li>
    {% endif %}
  </ol>
</nav>
{% endblock %}

{% block page_title %}
  {% if 'create' in request.path %}
    Creation d'un gymnase
  {% elif 'update' in request.path %}
    Modification du gymnase
  {% else %}
    Unknown command on gymnasiums
  {% endif %}
{% endblock %}

{% block content %}
<form method="post">
  {% csrf_token %}
  {% bootstrap_form form layout='horizontal' %}
  {% bootstrap_button "Enregistrer" button_type="submit" button_class="btn-primary" %}
</form>
{% endblock %}