{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block path %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'sports-manager:team-list' %}">{% trans "Teams" %}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'sports-manager:team-detail' team.slug %}">{{ team }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{% trans "Add time slot" %}</li>
    </ol>
  </nav>
{% endblock %}

{% block page_title %}
  {% trans "Add team timeslot creation" %}
{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for msg in form.non_field_errors %}
      <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Error!</strong> {{ msg }}
      </div>
    {% endfor %}

    <div class="form-row">
      <div class="col-md-6">{{ form.type|as_crispy_field }}</div>
      <div class="col-md-6">{{ form.gymnasium|as_crispy_field }}</div>
    </div>
    <div class="form-row">
      <div class="col-md-4">{{ form.day|as_crispy_field }}</div>
      <div class="col-md-4">{{ form.start|as_crispy_field }}</div>
      <div class="col-md-4">{{ form.end|as_crispy_field }}</div>
    </div>

    <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
  </form>
{% endblock %}
