{% extends "base.html" %}

{% load bootstrap4 %}

{% block path %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'sports-manager:categories-list' %}">Categories</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ category }}</li>
  </ol>
</nav>
{% endblock %}

{% block page_title %}
  {{ category }} {% if category.summary %}<small class="text-muted">{{ category.summary }}</small>{% endif %}
{% endblock %}

{% block page_title_buttons %}
  {% if user.is_staff or user.is_superuser %}
    <a href="{% url 'sports-manager:category-update' category.slug %}" class="btn btn-primary btn-sm">Update</button>
    <a href="{% url 'sports-manager:category-delete' category.slug %}" class="btn btn-danger btn-sm">Delete</a>
  {% endif %}
{% endblock %}

{% block content %}

  {% if category.img %}
    <img src="{{ category.img.url }}" alt="{{ category.name }} image">
  {% endif %}

  {% if category.description %}
    <h2 class="mt-4">Description</h2>
    <div class="text-justify mb-4">
      {{ category.description_md|safe }}
    </div>
  {% endif %}

  <h2 class="mt-4">Constraints</h3>
  <dl class="row">
    <dt class="col-sm-2">Minimum age</dt>
    <dd class="col-sm-4">{{ category.min_age }}</dd>

    {% if category.max_age %}
    <dt class="col-sm-2">Maximum age</dt>
    <dd class="col-sm-4">{{ category.max_age }}</dd>
    {% endif %}
  </dl>

  {% for team in category.team_set.all %}
    {% if forloop.first %}
      <h2 class="mt-4">Équipes</h3>

      <table class="table table-hover">
        <thead class="thead-light">
          <tr>
            <th scope="col">Team</th>
            <th scope="col">Sex</th>
            <th scope="col">Level</th>
            <th scope="col">Details</th>
          </tr>
        </thead>
        <tbody>
    {% endif %}

    <tr>
      <td>{{ team.name }}</td>
      <td>{{ team.get_sex_display }}</td>
      <td>{{ team.get_level_display }}</td>
      <td>
        <a class="btn btn-outline-secondary btn-sm" href="{% url 'sports-manager:team-detail' team.slug %}">Link</a>
      </td>
    </tr>

    {% if forloop.last %}
        </tbody>
      </table>
    {% endif %}
  {% empty %}
    <p>No team related to this category</p>
  {% endfor %}
{% endblock %}
