{% extends "base.html" %}
{% load bootstrap4 %}

{% block path %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'sports-manager:categories-list' %}">Categories</a></li>
      <li class="breadcrumb-item"><a href="{% url 'sports-manager:category-detail' category.slug %}">{{ category }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Deletion</li>
    </ol>
  </nav>
{% endblock %}

{% block page_title %}
  {{ category }} deletion
{% endblock %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    <p>Do you really want to delete the category "{{ category }}" and everything link to it?</p>
    {% bootstrap_button "Confirm" button_type="submit" button_class="btn-primary" %}
  </form>
{% endblock %}