{% extends "base.html" %}

{% load bootstrap4 %}
{% load staticfiles %}

{% block path %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{% trans "Categories" %}</li>
    </ol>
  </nav>
{% endblock %}

{% block page_title %}
  {% trans "Categories" %}
{% endblock %}

{% block content %}
  <div> {# Workaround to remove the border-top on the first item... #}
    <div class="list-group list-group-flush">
    {% for c in category_list %}
      <a href="{% url 'sports-manager:category-detail' c.slug %}" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex row">
          {% if c.img %}
          <img class="col-3" src="{{ c.img.url }}" alt="{{ c.name }}'s logo">
          {% else %}
            <div class="col-3"></div>
          {% endif %}
          <div class="col-9 align-self-center">
            <h5 class="mb-1">{{ c }}</h5>
            <p class="mb-1">{{ c.summary }}</p>
          </div>
        </div>
      </a>
    {% empty %}
      <p>{% trans "No category listed yet" %}...</p>
    {% endfor %}
    </div>
  </div>
{% endblock %}