{% extends "base.html" %}
{% load bootstrap4 %}

{% block path %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
      <li class="breadcrumb-item"><a href="{% url 'sports-manager:gymnasium-list' %}">Gymnases</a></li>
      <li class="breadcrumb-item active" aria-current="page"> Gymnase {{ object.name }}</a></li>
    </ol>
  </nav>
{% endblock %}

{% block page_title %}
  Gymnase {{ object.name }}
{% endblock %}


{% block content %}
  <div class="card-columns">
    {% if object.address %}
      <div class="card">
        <div class="card-header">
          Addresse
        </div>
        <div class="card-body">
          <p class="card-text">
            {{ object.address }}<br/>
            {{ object.zip_code }} {{ object.city }}
          </p>
        </div>
      </div>
    {% endif %}

    {% if object.phone %}
      <div class="card">
        <div class="card-header">
          Téléphone
        </div>
        <div class="card-body">
          <p class="card-text">
            {{ object.phone }}
            </p>
          </div>
        </div>
    {% endif %}

    {% if object.surface %}
      <div class="card">
        <div class="card-header">
          Surface
        </div>
        <div class="card-body">
          <p class="card-text">
            {{ object.surface }} m<sup>2</sup>
            </p>
          </div>
        </div>
    {% endif %}

    {% if object.capacity %}
      <div class="card">
        <div class="card-header">
          Capacité
        </div>
        <div class="card-body">
          <p class="card-text">
            {{ object.capacity }} personnes
            </p>
          </div>
        </div>
    {% endif %}
  </div>

  <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q={{ object.address }}, {{ object.zip_code }} {{ object.city }}" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
{% endblock %}
