{% extends "base.html" %}

{% load i18n %}
{% load bootstrap4 %}
{% load staticfiles %}

{% block path %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{% trans "Mes Licenses" %}</li>
    </ol>
  </nav>
{% endblock %}

{% block page_title %}
  {% trans "Licenses" %}
{% endblock %}

{% block page_title_buttons %}
  {% if user.is_authenticated %} 
    <div class="btn-group float-right" role="group">
      <a class="btn btn-primary" href="{% url 'sports-manager:license-create' user.get_username %}">{% trans "New license" %}</a>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="list-group">
  {% for license in license_list %}
    <a href="{% url 'sports-manager:license-detail' license.player.owner.get_username license.pk %}" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex row">
        <div class="col-md-9 align-self-center">
          <h5 class="mb-1">{{ license.player.first_name }} {{ license.player.last_name }}</h5>
          <p class="mb-1">
            {% for team in license.teams.all %}
              {{ team.name }}
              {% if not forloop.last %},{% endif%}
            {% endfor %}
          </p>
        </div>
      </div>
    </a>
  {% empty %}
    <p>{% blocktrans %}No license listed yet...{% endblocktrans %}</p>
  {% endfor %}
  </div>
{% endblock %}