{% extends "base.html" %}
{% load bootstrap4 %}

{% block path %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'sports-manager:licenses-list' user.get_username %}">Teams</a></li>
      {% if 'create' in request.path %}
        <li class="breadcrumb-item active" aria-current="page">Creation</a></li>
      {% elif 'update' in request.path %}
        <li class="breadcrumb-item"><a href="{% url 'sports-manager:license-detail' user.get_username license.id %}">{{ team }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Update</a></li>
      {% endif %}
    </ol>
  </nav>
{% endblock %}

{% block page_title %}
  {% if 'create' in request.path %}
    Team creation
  {% elif 'update' in request.path %}
    Update {{ team }}
  {% endif %}
{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form layout="horizontal" %}
    {{ form.media }}
    {% bootstrap_button "Save" button_type="submit" button_class="btn-primary btn-sm" %}
  </form>
{% endblock %}