{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block path %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'sports-manager:gymnasium-list' %}">{% trans "Gymnasiums" %}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{% trans "Creation" %}</li>
    </ol>
  </nav>
{% endblock %}

{% block page_title %}
  {% trans "Creation" %}
{% endblock %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    {% for msg in form.non_field_errors %}
      <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Error!</strong> {{ msg }}
      </div>
    {% endfor %}

    <div class="form-row">
      <div class="col-6">{{ form.name|as_crispy_field }}</div>
      <div class="col-6">{{ form.type|as_crispy_field }}</div>
    </div>
    <div class="form-row">
      <div class="col-12">{{ form.address|as_crispy_field }}</div>
    </div>
    <div class="form-row">
      <div class="col-9">{{ form.city|as_crispy_field }}</div>
      <div class="col-3">{{ form.zip_code|as_crispy_field }}</div>
    </div>
    <div class="form-row">
      <div class="col-4">{{ form.phone|as_crispy_field }}</div>
      <div class="col-4">{{ form.area|as_crispy_field }}</div>
      <div class="col-4">{{ form.capacity|as_crispy_field }}</div>
    </div>
    <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
  </form>
{% endblock %}
