{% extends "base.html" %}

{% load i18n %}

{% block path %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'sports-manager:gymnasium-list' %}">{% trans "Gymnasiums" %}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ gymnasium }}</a></li>
    </ol>
  </nav>
{% endblock %}

{% block page_title %}
  {{ gymnasium }}
{% endblock %}

{% block page_title_buttons %}
  {% if user.is_staff or user.is_superuser %}
    <a href="{% url 'sports-manager:gymnasium-update' gymnasium.slug %}" class="btn btn-primary btn-sm">{% trans "Update" %}</button>
    <a href="{% url 'sports-manager:gymnasium-delete' gymnasium.slug %}" class="btn btn-danger btn-sm">{% trans "Delete" %}</a>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="card-columns">
    {% if gymnasium.address %}
      <div class="card">
        <div class="card-header">Address</div>
        <div class="card-body">
          <p class="card-text">{{ gymnasium.address }}<br/>{{ gymnasium.zip_code }} {{ gymnasium.city }}</p>
        </div>
      </div>
    {% endif %}

    {% if gymnasium.phone %}
      <div class="card">
        <div class="card-header">Phone number</div>
        <div class="card-body">
          <p class="card-text">{{ gymnasium.phone }}</p>
          </div>
        </div>
    {% endif %}

    {% if gymnasium.surface %}
      <div class="card">
        <div class="card-header">Area</div>
        <div class="card-body">
          <p class="card-text">{{ gymnasium.area }} m<sup>2</sup></p>
          </div>
        </div>
    {% endif %}

    {% if gymnasium.capacity %}
      <div class="card">
        <div class="card-header">Capacité</div>
        <div class="card-body">
          <p class="card-text">{{ gymnasium.capacity }} personnes</p>
          </div>
        </div>
    {% endif %}
  </div>

  <div class="embed-responsive embed-responsive-21by9">
    <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q={{ gymnasium.address }},{{ gymnasium.zip_code }},{{ gymnasium.city }}" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>

  {% for ts in gymnasium.timeslot_set.all %}

    {% if forloop.first %}
      <h2 class="mt-4">{% trans "Time slots" %}</h2>
      <table class="table table-sm table-hover" id="timeslotTable">
        <thead class="thead-light">
          <tr>
            <th scope="col">{% trans "Team" %}</th>
            <th scope="col">{% trans "Type of time slot" %}</th>
            <th scope="col">{% trans "Day" %}</th>
            <th scope="col">{% trans "Starting time" %}</th>
            <th scope="col">{% trans "Ending time" %}</th>
            {% if user.is_staff %}
              <th scope="col">{% trans "Links" %}</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
    {% endif %}

    <tr>
      <td>{{ ts.team|title }}</td>
      <td>{{ ts.get_type_display|title }}</td>
      <td>{{ ts.get_day_display|title }}</td>
      <td>{{ ts.start }}</td>
      <td>{{ ts.end }}</td>
      {% if user.is_staff %}
        <td>
          <div class="btn-group btn-group-sm float-right" role="group">
            <a class="btn btn-primary" href="{% url 'sports-manager:team-time-slot-update' ts.team.slug ts.pk %}">{% trans "Update" %}</a>
            <a class="btn btn-danger" href="{% url 'sports-manager:team-time-slot-delete' ts.team.slug ts.pk %}">{% trans "Delete" %}</a>
          </div>
        </td>
      {% endif %}
    </tr>

    {% if forloop.last %}
        </tbody>
      </table>
    {% endif %}
  {% endfor %}
{% endblock %}
