{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}

{% block path %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'sports-manager:license-list' user.get_username %}">{% trans "My licenses" %}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{% trans "Creation" %}</a></li>
    </ol>
  </nav>
{% endblock %}

{% block page_title %}
  {% trans "License creation" %}
{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data" id="licenseForm" data-categories-url="{% url 'sports-manager:license-get-list-categories' %}" data-teams-url="{% url 'sports-manager:license-get-list-teams' %}">
    {% csrf_token %}
    {{ form.player|as_crispy_field }}
    {{ form.category|as_crispy_field }}
    {{ form.teams|as_crispy_field }}
    <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
  </form>
{% endblock %}

{% block javascript %}
  <script>
    $(document).ready(function() {
      console.log("Document ready");
      $("#div_id_category").hide();
      $("#div_id_teams").hide();
    });
  </script>
  <script src="{% static 'js/license_creation_get_categories.js' %}"></script>
  <script src="{% static 'js/license_creation_get_teams.js' %}"></script>

{% endblock %}