{% extends "base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block path %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
      <li class="breadcrumb-item" aria-current="page"><a href="{% url 'sports-manager:license-list' license.player.owner.get_username %}">{% trans "My licenses" %}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ license }}</li>
    </ol>
  </nav>
{% endblock %}

{% block page_title_buttons %}
  {% if user.get_username == license.owner.get_username or user.is_staff %}
    <div class="btn-group float-right" role="group">
      <a href="{% url 'sports-manager:license-update' license.player.owner.get_username license.pk %}" class="btn btn-primary btn-sm">{% trans "Update" %}</a>
      <a href="{% url 'sports-manager:license-delete' license.player.owner.get_username license.pk %}" class="btn btn-danger btn-sm">{% trans "Delete" %}</a>
    </div>
  {% endif %}
{% endblock %}

{% block page_title %}
  {{ license }}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-2">{% trans "Season" %}:</div><div class="col-10">{{ license.season }}</div>
  </div>
  <div class="row">
    <div class="col-2">{% trans "Team" %}:</div><div class="col-10">{% for team in license.teams.all %}{{ team.name }}<br/>{% endfor %}</div>
  </div>
  <div class="row">
    <div class="col-2">{% trans "Owner" %}:</div><div class="col-10">{{ license.player.owner }}</div>
  </div>
  <div class="row">
    <div class="col-2">{% trans "Sex" %}:</div><div class="col-10">{{ license.player.get_sex_display }}</div>
  </div>
  <div class="row">
    <div class="col-2">{% trans "Birthday" %}:</div><div class="col-10">{{ license.player.birthday }}</div>
  </div>
  {% if license.number %}
    <div class="row">
      <div class="col-2">{% trans "License number" %}:</div><div class="col-10">{{ license.number }}</div>
    </div>
  {% endif %}
{% endblock %}

{% block javascript %}
  <script>
    window.setTimeout(function() {
        $(".alert").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove(); 
        });
    }, 4000);
  </script>
 {% endblock %}
