{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block path %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'sports-manager:license-list' user.get_username %}">{% trans "My licenses" %}</a></li>
      <li class="breadcrumb-item"><a href="{{ license.get_absolute_url }}">{{ license }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{% trans "Update" %}</a></li>
    </ol>
  </nav>
{% endblock %}

{% block page_title %}
  {% blocktrans %}{{ license }} update {% endblocktrans %}
{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for msg in form.non_field_errors %}
      <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Error!</strong> {{ msg }}
      </div>
    {% endfor %}

    {% for field in form %}
      {{ field|as_crispy_field }}
    {% endfor %}
    <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
  </form>
{% endblock %}
