{% extends "base.html" %}

{% load i18n %}

{% load crispy_forms_tags %}

{% block path %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'sports-manager:player-list' user.get_username %}">{% trans "My players" %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% trans "Creation" %}</li>
  </ol>
</nav>
{% endblock %}

{% block page_title %}
  {% trans "Creation of a new player" %}
{% endblock %}

{% block content %}
  <form  method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for msg in form.non_field_errors %}
        <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>{% trans "Error!" %}</strong> {{ msg }}
        </div>
    {% endfor %}

    <div class="form-row">
        {% for field in form %}
            <div class="col-6">{{ field|as_crispy_field }}</div>
        {% if forloop.counter|divisibleby:2 %}
            </div><div class="form-row">
        {% endif %}
        {% endfor %}
    </div>
    
    <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
    <button type="reset" class="btn btn-warning">{% trans "Reset" %}</button>

  </form>
{% endblock %}
