{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% load crispy_forms_tags %}

{% block path %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
      <li class="breadcrumb-item">
        <a href="{% url 'sports-manager:player-list' owner.get_username %}">
          {% if user.get_username != owner.get_username and user.is_staff %}
            {% if full_name %}
              {% blocktrans with name=owner.get_full_name trimmed %}
                {{ name }}'s players
              {% endblocktrans %}
            {% else %}
              {% blocktrans with name=owner.get_username trimmed %}
                {{ name }}'s players
              {% endblocktrans %}
            {% endif %}
          {% else %}
            {% trans "My players" %}
          {% endif %}
        </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">{% trans "Creation" %}</li>
    </ol>
  </nav>
{% endblock %}

{% block page_title %}
  {% trans "Creation of a new player" %}
{% endblock %}

{% block content %}
  <form  method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for msg in form.non_field_errors %}
      <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>{% trans "Error!" %}</strong> {{ msg }}
      </div>
    {% endfor %}

    <div class="form-row">
      <div class="col-6">{{ form.first_name|as_crispy_field }}</div>
      <div class="col-6">{{ form.last_name|as_crispy_field }}</div>
    </div>
    <div class="form-row">
      <div class="col-6">{{ form.birthday|as_crispy_field }}</div>
      <div class="col-6">{{ form.sex|as_crispy_field }}</div>
    </div>
    <div class="form-row">
      <div class="col-6">{{ form.address|as_crispy_field }}</div>
      <div class="col-6">{{ form.add_address|as_crispy_field }}</div>
    </div>
    <div class="form-row">
      <div class="col-6">{{ form.zip_code|as_crispy_field }}</div>
      <div class="col-6">{{ form.city|as_crispy_field }}</div>
    </div>
    <div class="form-row">
      <div class="col-6">{{ form.phone|as_crispy_field }}</div>
      <div class="col-6">{{ form.email|as_crispy_field }}</div>
    </div>
    <div class="form-row">
      <div class="col-6">{{ form.identity_card|as_crispy_field }}</div>
      <div class="col-6">{{ form.identity_photo|as_crispy_field }}</div>
    </div>

    <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
    <button type="reset" class="btn btn-warning">{% trans "Reset" %}</button>

  </form>
{% endblock %}

{% block javascript %}
  <script src="{% static 'js/bs4_file_input.js' %}"></script>
{% endblock %}
