{% extends "base.html" %}

{% load i18n %}
{% load icons %}
{% load staticfiles %}

{% block path %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'home' %}">{% trans "Home" %}</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'sports-manager:player-list' player.owner.get_username %}">
          {% if user.get_username != player.owner.get_username and user.is_staff %}
            {% if full_name %}
              {% blocktrans with name=player.owner.get_full_name trimmed %}
                {{ name }}'s players
              {% endblocktrans %}
            {% else %}
              {% blocktrans with name=player.owner.get_username trimmed %}
                {{ name }}'s players
              {% endblocktrans %}
            {% endif %}
          {% else %}
            {% trans "My players" %}
          {% endif %}
        </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">{{ player }}</li>
    </ol>
  </nav>
{% endblock %}

{% block page_title_buttons %}
  {% if user.get_username == player.owner.get_username or user.is_staff %}
    {% comment %} <button type="button" class="btn btn-primary btn-sm" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="{% blocktrans %}If you really want to update that player, click on that <a href='mailto:{{ sports_manager.webmaster }}?Subject=[MODIFICATION] {{ player }}'>link</a>{% endblocktrans %}">
      Update
    </button>
    <button type="button" class="btn btn-danger btn-sm" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="{% blocktrans %}If you really want to delete that player, click on that <a href='mailto:{{ sports_manager.webmaster }}?Subject=[DELETION] {{ player }}'>link</a>{% endblocktrans %}">
      Delete
    </button> {% endcomment %}
    <div class="btn-group float-right" role="group">
      <a href="{% url 'sports-manager:player-emergency-contact-list' player.owner.get_username player.slug %}" class="btn btn-primary btn-sm">{% trans "Emergency contact" %}</a>
      <a href="{% url 'sports-manager:player-medical-certificate-list' player.owner.get_username player.slug %}" class="btn btn-primary btn-sm">{% trans "Medical certificate" %}</a>
      <a href="{% url 'sports-manager:player-update' player.owner.get_username player.slug %}" class="btn btn-primary btn-sm">{% trans "Update" %}</a>
      <a href="{% url 'sports-manager:player-delete' player.owner.get_username player.slug %}" class="btn btn-danger btn-sm">{% trans "Delete" %}</a>
    </div>
  {% endif %}
{% endblock %}

{% block page_title %}
  {{ player }}
{% endblock %}

{% block content %}

  <h2>{% trans "Informations" %}</h2>
  <div class="row">
    <div class="col-md-2">
        {% if object.identity_photo %}
          <img class="rounded float-left border" src="{{ object.identity_photo.url }}">
        {% else %}
          <img class="rounded float-left border" src="https://upload.wikimedia.org/wikipedia/commons/d/d7/Creative-Tail-People-spy.svg">
        {% endif %}
      
    </div>
    <div class="col-md-10">
      <div class="row"><div class="col-md-3 font-weight-bold">{% trans "Sex" %}</div><div class="col-md-9">{{ player.get_sex_display|capfirst }}</div></div>
      <div class="row"><div class="col-md-3 font-weight-bold">{% trans "Birthday" %}</div><div class="col-md-9">{{ player.birthday }}</div></div>
      {% if player.phone %}<div class="row"><div class="col-md-3 font-weight-bold">{% trans "Phone" %}</div><div class="col-md-9">{{ player.phone }}</div></div>{% endif %}
      {% if player.email %}<div class="row"><div class="col-md-3 font-weight-bold">{% trans "Email" %}</div><div class="col-md-9">{{ player.email }}</div></div>{% endif %}
      <div class="row">
        <div class="col-md-3 font-weight-bold">{% trans "Address" %}</div>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-12">{{ player.address }}</div>
              {% if player.add_address %}<div class="col-md-12">{{ player.add_address }}</div>{% endif %}
              <div class="col-md-12">{{ player.zip_code }}, {{ player.city }}</div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="mb-4"></div>

  {% comment %}
  {% for emergencycontact in player.emergencycontact_set.all %}
    {% if forloop.first %}
      <h2>{% trans "Emergency contacts" %}</h2>
    {% endif %}
    <div class="row">
      <div class="col-md-1 font-weight-bold">{% trans "Name" %}</div><div class="col-md-3">{{ emergencycontact.first_name }} {{ emergencycontact.last_name }}</div>
      <div class="col-md-1 font-weight-bold">{% trans "Phone" %}</div><div class="col-md-3">{{ emergencycontact.phone }}</div>
      {% if emergencycontact.email %}
        <div class="col-md-1 font-weight-bold">{% trans "Email" %}</div><div class="col-md-3">{{ emergencycontact.email }}</div>
      {% endif %}
    </div>

    {% if forloop.last %}
      <div class="w-100 mb-4"></div>
    {% endif %}
  {% endfor %}
  {% endcomment %}

  {% for license in player.license_set.all %}
    {% if forloop.first %}
      <h2>{% trans "His/her licenses" %}</h2>
    {% endif %}

    {% ifchanged license.season %}
      {% if not forloop.first %}
        </div>
      {% endif %}
      <div class="list-group w-50">
        <li class="list-group-item list-group-item-dark font-weight-bold">{{ license.season }}</li>
    {% endifchanged %}

    {% for team in license.teams.all %}
      <li class="list-group-item">{{ team.category }} - {{ team }}</li>
    {% endfor %}

    {% if forloop.last %}
      </div>  <!-- list-group -->
    {% endif %}
  {% endfor %}
{% endblock %}
