{% extends "base.html" %}

{% load i18n %}
{% load l10n %}
{% load staticfiles %}

{% block path %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'home' %}">{% trans "Home" %}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        {% if user.get_username != owner.get_username and user.is_staff %}
          {% if full_name %}
            {% blocktrans with name=owner.get_full_name trimmed %}
              {{ name }}'s players
            {% endblocktrans %}
          {% else %}
            {% blocktrans with name=owner.get_username trimmed %}
              {{ name }}'s players
            {% endblocktrans %}
          {% endif %}
        {% else %}
          {% blocktrans trimmed %}
            My players
          {% endblocktrans %}
        {% endif %}
      </li>
    </ol>
  </nav>
{% endblock %}

{% block page_title %}
  {% trans "My players" %}
{% endblock %}

{% block page_title_buttons %}
  {% if user.is_authenticated %}
    <div class="btn-group float-right" role="group">
      <a class="btn btn-primary" href="{% url 'sports-manager:player-create' user.get_username %}">{% trans "New player" %}</a>
    </div>
  {% endif %}
{% endblock %}

{% block content %}

  <div class="row">
    {% for player in player_list %}
      <div class="col-sm-12 col-md-6 col-xl-4">
        <div class="card mb-4">
          {% if player.identity_photo %}
            <img class="card-img-top img-fluid" src="{{ player.identity_photo.url }}" alt="{{ player.full_name }}'s photo">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ player.full_name }}</h5>
            <p class="card-text">{{ player.birthday }}</p>
            {% if player.medicalcertificate_set.last %}
              <p class="card-text">{% trans "Medical certificate" %}: {{ player.medicalcertificate_set.last.get_validation_display }}</p>
            {% else %}
              {% comment %} <p class="card-text">{% trans "Medical certificate" %}: <span class="text-danger">{% trans "no certificate" %}</span></p> {% endcomment %}
              <a class="card-link" href="{% url 'sports-manager:player-medical-certificate-create' player.owner.get_username player.slug %}">{% trans "Upload medical certificate" %}</a>
            {% endif %}
          </div>
          <ul class="list-group list-group-flush">
            {% if player.email %}<li class="list-group-item"><i class="fas fa-envelope"></i> {{ player.email }}</li>{% endif %}
            {% if player.phone %}<li class="list-group-item"><i class="fas fa-phone"></i> {{ player.phone }}</li>{% endif %}
          </ul>
          {% if user.get_username == player.owner.get_username or user.is_staff %}
            <div class="card-body">
              <a class="card-link" href="{{ player.get_absolute_url }}">{% trans "Details" %}</a>
              <a class="card-link" href="{% url 'sports-manager:player-update' player.owner.get_username player.slug %}">{% trans "Update" %}</a>
              <a class="card-link text-danger" href="{% url 'sports-manager:player-delete' player.owner.get_username player.slug %}">{% trans "Delete" %}</a>
            </div>
          {% endif %}
        </div>
      </div>
    {% empty %}
      <p>No player listed yet...</p>
    {% endfor %}
  </div>
{% endblock %}
