{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% load crispy_forms_tags %}

{% block path %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
      <li class="breadcrumb-item">
        <a href="{% url 'sports-manager:player-list' player.owner.get_username %}">
          {% if user.get_username != player.owner.get_username and user.is_staff %}
            {% if full_name %}
              {% blocktrans with name=player.owner.get_full_name trimmed %}
                {{ name }}'s players
              {% endblocktrans %}
            {% else %}
              {% blocktrans with name=player.owner.get_username trimmed %}
                {{ name }}'s players
              {% endblocktrans %}
            {% endif %}
          {% else %}
            {% trans "My players" %}
          {% endif %}
        </a>
      </li>
      <li class="breadcrumb-item"><a href="{{ player.get_absolute_url }}">{{ player }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{% trans "Update" %}</li>
    </ol>
  </nav>
{% endblock %}

{% block page_title %}
  {% blocktrans trimmed %}Updating {{ player }}{% endblocktrans %}
{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data" id="PlayerUpdateForm" data-file-form-url="">
    {% csrf_token %}
    {% for msg in form.non_field_errors %}
      <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>{% trans "Error!" %}</strong> {{ msg }}
      </div>
    {% endfor %}

    <div class="form-row">
      <div class="col-6">{{ form.first_name|as_crispy_field }}</div>
      <div class="col-6">{{ form.last_name|as_crispy_field }}</div>
      <div class="col-6">{{ form.birthday|as_crispy_field }}</div>
      <div class="col-6">{{ form.sex|as_crispy_field }}</div>
      <div class="col-6">{{ form.address|as_crispy_field }}</div>
      <div class="col-6">{{ form.add_address|as_crispy_field }}</div>
      <div class="col-6">{{ form.zip_code|as_crispy_field }}</div>
      <div class="col-6">{{ form.city|as_crispy_field }}</div>
      <div class="col-6">{{ form.phone|as_crispy_field }}</div>
      <div class="col-6">{{ form.email|as_crispy_field }}</div>
      <div class="col-6">
        <label class="col-form-label">
          Identity card
        </label>
        <div class="input-group mb-3">
          {% if form.instance.identity_card %}
            <div class="input-group-prepend">
              <a target="_blank" href="{{ form.instance.identity_card.url }}" class="btn btn-outline-secondary" type="button">Download</a>
            </div>
            <div class="custom-file ">
              <input name="identity_card" class="fileinput fileUpload form-control custom-file-input" id="id_identity_card" type="file">
              <label class="custom-file-label" for="id_identity_card">{{ form.instance.identity_card.name }}</label>
            </div>
          {% else %}
            <div class="custom-file ">
              <input name="identity_card" class="fileinput fileUpload form-control custom-file-input" id="id_identity_card" type="file">
              <label class="custom-file-label" for="id_identity_card">Choose file...</label>
            </div>
          {% endif %}
        </div>
      </div>
      <div class="col-6">
        <label class="col-form-label ">
          Identity photo
        </label>
        <div class="input-group mb-3">
          {% if form.instance.identity_photo %}
            <div class="input-group-prepend">
              <a target="_blank" href="{{ form.instance.identity_photo.url }}" class="btn btn-outline-secondary" type="button">Download</a>
            </div>
            <div class="custom-file ">
              <input name="identity_photo" class="fileinput fileUpload form-control custom-file-input" id="id_identity_photo" type="file">
              <label class="custom-file-label" for="id_identity_photo">{{ form.instance.identity_photo.name }}</label>
            </div>
          {% else %}
            <div class="custom-file ">
              <input name="identity_photo" class="fileinput fileUpload form-control custom-file-input" id="id_identity_photo" type="file">
              <label class="custom-file-label" for="id_identity_photo">Choose file...</label>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  
    
    <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
    <button type="reset" class="btn btn-warning">{% trans "Reset" %}</button>

  </form>
{% endblock %}

{% block javascript %}
  {% comment %}
  <script>
  $( document ).ready(function() {
    var certif_url = $("#PlayerUpdateForm").attr("data-file-form-url")
    if (certif_url != undefined || certif_url != "") {
      var prepend = `<div class="input-group-prepend"><a target="_blank" href="` + certif_url + `" class="btn btn-outline-secondary" type="button">Download</a></div>`
      $("#id_file").next(".custom-file-label").text(certif_url.replace(/.*\//, ''));
      $('#id_file').closest(".input-group").prepend(prepend);
    }
  });
  </script>
  {% endcomment %}
  <script src="{% static 'js/file_input.js' %}"></script>
{% endblock %}