{% extends "base.html" %}

{% load i18n %}

{% load crispy_forms_tags %}

{% block path %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'sports-manager:player-list' user.get_username %}">{% trans "My players" %}</a></li>
    <li class="breadcrumb-item"><a href="{{ player.get_absolute_url }}">{{ player }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% trans "Update" %}</li>
  </ol>
</nav>
{% endblock %}

{% block page_title %}
  Updating {{ player }}
{% endblock %}

{% block content %}
  <form  method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <h2>{% trans "Player informations" %}</h2>
    {% for msg in player_form.non_field_errors %}
      <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Error!</strong> {{ msg }}
      </div>
    {% endfor %}

    <div class="form-row">
      {% for field in player_form %}
          <div class="col-6">{{ field|as_crispy_field }}</div>
        {% if forloop.counter|divisibleby:2 %}
          </div><div class="form-row">
        {% endif %}
      {% endfor %}
    </div>

    <h2 class="mt-4">{% trans "Emergency contact informations" %}</h2>
    {% for msg in emergency_form.non_field_errors %}
      <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Error!</strong> {{ msg }}
      </div>
    {% endfor %}

    <div class="form-row">
      {% for field in emergency_form %}
          <div class="col-6">{{ field|as_crispy_field }}</div>
        {% if forloop.counter|divisibleby:2 %}
          </div><div class="form-row">
        {% endif %}
      {% endfor %}
    </div>

    <h2 class="mt-4">{% trans "Medical certificate" %}</h2>
    {% for msg in certificate_form.non_field_errors %}
      <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Error!</strong> {{ msg }}
      </div>
    {% endfor %}

    <div class="form-row">
      <div class="col-6">{{ certificate_form.start|as_crispy_field }}</div>
      <div class="col-6">{{ certificate_form.end|as_crispy_field }}</div>
      </div><div class="form-row">
      <div class="col-6">{{ certificate_form.validation|as_crispy_field }}</div>
      <div class="col-6">
        <div id="div_id_certif-file" class="form-group">
          <label for="id_certif-file" class="col-form-label  requiredField">
            File<span class="asteriskField">*</span>
          </label>
          <div class="">
            <div class="input-group mb-3">
              {% if certificate_form.instance.file %}
                <div class="input-group-prepend">
                  <a target="_blank" href="{{ certificate_form.instance.file.url }}" class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon03">Download</a>
                </div>
              {% endif %}
              <div class="custom-file">
                <input type="file" class="custom-file-input {% if certificate_form.file.errors %}is-invalid{% endif %}" id="id_certif-file" name="certif-file" class="clearablefileinput" required>
                <label class="custom-file-label" for="id_certif-file">{{ certificate_form.instance.file.name|default:"Choose file..." }}</label>
              </div>
              {% for error in certificate_form.file.errors %}
                <p id="error_{{ forloop.counter }}_id_certif-file" class="invalid-feedback d-block"><strong>{{ error }}</strong></p>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
    <button type="reset" class="btn btn-warning">{% trans "Reset" %}</button>
  </form>
{% endblock %}

{% block javascript %}
  <script>
    $("#id_certif-file").change(function () {

      var fieldVal = $(this).val();
      console.log(fieldVal);

      // Change the node's value by removing the fake path (Chrome)
      fieldVal = fieldVal.replace("C:\\fakepath\\", "");
      console.log(fieldVal);

      if (fieldVal != undefined || fieldVal != "") {
        console.log($(this).next(".custom-file-label").text(fieldVal));
      }

    });
  </script>
{% endblock %}