{% extends "base.html" %}

{% load i18n %}

{% block path %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'sports-manager:team-list' %}">{% trans "Teams" %}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'sports-manager:team-detail' team.slug %}">{{ team }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{% trans "Deletion" %}</li>
    </ol>
  </nav>
{% endblock %}

{% block page_title %}
  {% blocktrans %}{{ team }} deletion{% endblocktrans %}
{% endblock %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    <p>{% blocktrans %}Do you really want to delete the team "{{ team }}" and everything link to it?{% endblocktrans %}</p>
    {% for license in team.license_set.all %}
      {% if forloop.first %}
        <h3>Licenses to be deleted</h3>
        <ul class="list-group mb-4">
      {% endif %}

      <li class="list-group-item">{{ license }}</li>

      {% if forloop.last %}
        </ul>
      {% endif%}
    {% endfor %}

    <button type="submit" class="btn btn-warning">{% trans "Yes, I want it." %}</button>
    <button type="button" class="btn btn-primary" onclick="history.back()">{% trans "No, I want to go back" %}</button>
  </form>
{% endblock %}
