{% extends "base.html" %}

{% load i18n %}

{% block path %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'sports-manager:team-list' %}">{% trans "Teams" %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ team }}</li>
  </ol>
</nav>
{% endblock %}

{% block page_title %}
  {{ team }}
{% endblock %}

{% block page_title_buttons %}
  {% if user.is_staff or user.is_superuser %}
    <div class="btn-group float-right" role="group">
      <a href="{% url 'sports-manager:team-time-slot-create' team.slug %}" class="btn btn-primary btn-sm">{% trans "Add time slot" %}</a>
      <a href="{% url 'sports-manager:team-update' team.slug %}" class="btn btn-primary btn-sm">{% trans "Update" %}</a>
      <a href="{% url 'sports-manager:team-delete' team.slug %}" class="btn btn-danger btn-sm">{% trans "Delete" %}</a>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
    <div class="alert {% if team.recruitment %}alert-success{% else %}alert-warning{% endif %}" role="alert">
      {% blocktrans with recruitment=team.recruitment|yesno:_("is recruiting,is not recruiting") %}
        This team {{ recruitment }} players.
      {% endblocktrans %}
    </div>
  {% if team.img %}
    <img src="{{ team.img.url }}" alt="{{ team.name }} image" />
  {% endif %}

  <h2 class="mt-4">{% trans "Informations" %}</h2>
  <div class="row">
    <div class="col-1">{% trans "Category:" %}</div>
    <div class="col-5">{{ team.category }}</div>
    <div class="col-1">{% trans "Level:" %}</div>
    <div class="col-5">{{ team.get_level_display|capfirst }}</div>
  </div>
  <div class="row">
    <div class="col-1">{% trans "Sex:" %}</div>
    <div class="col-5">{{ team.get_sex_display|capfirst }}</div>
    <div class="col-1">{% trans "Url:" %}</div>
    <div class="col-5"><a href="{{ team.url }}" target="_blank">{{ team.url }}</a></div>
  </div>
  {% if team.trainer %}
    <div class="row">
      <div class="col-1">{% trans "Trainer:" %}</div>
      <div class="col-5">{{ team.trainer.get_full_name }}</div>
    </div>
  {% endif %}

  <div class="mb-4"></div>

  {% for ts in team.timeslot_set.all %}

    {% if forloop.first %}
      <h2>{% trans "Time slots" %}</h2>
      <table class="table table-borderless table-hover" id="timeslotTable">
        <tbody>
    {% endif %}

    <tr>
      <td>{{ ts.get_type_display|title }}</td>
      <td>{{ ts.get_day_display|title }}</td>
      <td>{{ ts.start }}</td>
      <td>{{ ts.end }}</td>
      <td>{{ ts.gymnasium }}</td>
      {% if user.is_staff %}
        <td>
          <div class="btn-group btn-group-sm float-right" role="group">
            <a class="btn btn-primary" href="{% url 'sports-manager:team-time-slot-update' team.slug ts.pk %}">{% trans "Update" %}</a>
            <a class="btn btn-danger" href="{% url 'sports-manager:team-time-slot-delete' team.slug ts.pk %}">{% trans "Delete" %}</a>
          </div>
        </td>
      {% endif %}
    </tr>

    {% if forloop.last %}
        </tbody>
      </table>
      <div class="mb-4"></div>
    {% endif %}
  {% endfor %}

  {% if team.description %}
    <h2>{% trans "Description" %}</h2>
    {{ team.description_md|safe }}
    <div class="mb-4"></div>
  {% endif %}

  <h2>{% trans "Teammates" %}</h2>
  <div class="row">
    {% for license in team.license_set.all %}
      <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
        <div class="card">
          <div class="card-body">{{ license.player.full_name }}</div>
        </div>
      </div>
    {% empty %}
      <div class="col-12">
        {% blocktrans %}No known teammate related to this team{% endblocktrans %}
      </div>
    {% endfor %}
  </div>
  <div class="mb-4"></div>

{% endblock %}
