{% extends "base.html" %}

{% load i18n %}
{% load l10n %}
{% load staticfiles %}

{% block path %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
      <li class="breadcrumb-item" aria-current="page"><a href="{% url 'sports-manager:player-list' user.get_username %}">{% trans "My players" %}</a></li>
      <li class="breadcrumb-item" aria-current="page"><a href="{{ player.get_absolute_url }}">{{ player }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{% trans "Medical certificates" %}</li>
    </ol>
  </nav>
{% endblock %}

{% block page_title %}
  {% blocktrans with full_name=player.full_name %}
    {{ full_name }}'s medical certificates
  {% endblocktrans %}
{% endblock %}

{% block page_title_buttons %}
  {% if user.is_authenticated %}
    <div class="btn-group float-right" role="group">
      <a class="btn btn-primary" href="{% url 'sports-manager:player-medical-certificate-create' user.get_username player.slug %}">{% trans "New medical certificate" %}</a>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  {% for object in object_list %}
    {% if forloop.first %}
      <table class="table table-hover table-nowrap" id="myPlayerTable">
        <thead class="thead-light">
          <tr>
            <th scope="col">{% trans "Start" %}</th>
            <th scope="col">{% trans "End" %}</th>
            <th scope="col">{% trans "Validation" %}</th>
            {% if user.is_authenticated and user == player.owner %}
              <th scope="col">{% trans "Links" %}</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
    {% endif %}

          <tr class="clickable-row" url="{{ object.get_absolute_url }}">
            <td>{{ object.start }}</td>
            <td>{{ object.end }}</td>
            <td>{{ object.get_validation_display|capfirst }}</td>
            {% if user.is_authenticated and user == player.owner %}
              <td>
                <div class="btn-group btn-group-sm float-right" role="group">
                  <a class="btn btn-sm btn-primary" href="{{ object.get_absolute_url }}">{% trans "Details" %}</a>
                  <a class="btn btn-sm btn-primary" href="{% url 'sports-manager:player-medical-certificate-update' object.player.owner.get_username object.player.slug object.pk %}">{% trans "Update" %}</a>
                  <a class="btn btn-sm btn-danger" href="{% url 'sports-manager:player-medical-certificate-delete' object.player.owner.get_username object.player.slug object.pk %}">{% trans "Delete" %}</a>
                </div>
              </td>
            {% endif %}
          </tr>

    {% if forloop.last %}
        </tbody>
      </table>
    {% endif %}
  {% empty %}
    <p>
      {% blocktrans with full_name=player.full_name %}
        No medical certificate linked to the player {{ full_name }} listed yet...
      {% endblocktrans %}
    </p>
  {% endfor %}
{% endblock %}

{% comment %}
{% block javascript %}
  <script>
  $(".clickable-row").click(function() {
    window.location.href = $(this).attr("url")
  });
  </script>
{% endblock javascript %}
{% endcomment %}