{% extends "base.html" %}

{% load i18n %}
{% load l10n %}
{% load crispy_forms_tags %}

{% block path %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
      <li class="breadcrumb-item">
        <a href="{% url 'sports-manager:player-list' object.player.owner.get_username %}">
          {% if user.get_username != object.player.owner.get_username and user.is_staff %}
            {% if full_name %}
              {% blocktrans with name=object.player.owner.get_full_name trimmed %}
                {{ name }}'s players
              {% endblocktrans %}
            {% else %}
              {% blocktrans with name=object.player.owner.get_username trimmed %}
                {{ name }}'s players
              {% endblocktrans %}
            {% endif %}
          {% else %}
            {% trans "My players" %}
          {% endif %}
        </a>
      </li>
      <li class="breadcrumb-item"><a href="{{ object.player.get_absolute_url }}">{{ object.player }}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'sports-manager:player-medical-certificate-list' object.player.owner.get_username object.player.slug %}">{% trans "Medical certificates" %}</a></li>
      <li class="breadcrumb-item"><a href="{{ object.get_absolute_url }}">{{ object.start|localize }} - {{ object.end|localize }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{% trans "Renewal" %}</li>
    </ol>
  </nav>
{% endblock %}

{% block page_title %}
  {% blocktrans with full_name=object.player.full_name start=object.start|localize end=object.end|localize trimmed%}
    Reenew the medical certificate of {{ full_name }}
  {% endblocktrans %}
{% endblock %}

{% block content %}
  <form  method="post" enctype="multipart/form-data" id="MedicalCertificateRenewForm">
    {% csrf_token %}
    {% for msg in form.non_field_errors %}
      <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>{% trans "Error!" %}</strong> {{ msg }}
      </div>
    {% endfor %}

    <p>Ce questionnaire de santé permet de savoir si vous devez fournir un certificat médical pour renouveler votre licence sportive.</p>

    <p>Répondez aux questions suivantes par OUI ou par NON<br/>NB: Les réponses formulées relèvent de la seule responsabilité du licencié</p>

    <h2>Durant les 12 derniers mois</h2>

    <div class="row mb-2">
      <div class="col-md-10">
        {% blocktrans %}
          Un membre de votre famille est-il décédé subitement d’une cause cardiaque ou inexpliquée ?
        {% endblocktrans %}
      </div>
      <div class="col-md-1">
        <div class="form-check form-check-inline">
          <input class="form-check-input inlineRadioYes" type="radio" name="inlineRadioOptions1" value="yes">
          <label class="form-check-label" for="inlineRadio1">{% trans "Yes" %}</label>
        </div>
      </div>
      <div class="col-md-1">
        <div class="form-check form-check-inline">
          <input class="form-check-input inlineRadioNo" type="radio" name="inlineRadioOptions1" value="no">
          <label class="form-check-label" for="inlineRadio2">{% trans "No" %}</label>
        </div>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-md-10">
        {% blocktrans %}
          Avez-vous ressenti une douleur dans la poitrine, des palpitations, un essoufflement inhabituel ou un malaise ?
        {% endblocktrans %}
      </div>
      <div class="col-md-1">
        <div class="form-check form-check-inline">
          <input class="form-check-input inlineRadioYes" type="radio" name="inlineRadioOptions2" value="yes">
          <label class="form-check-label" for="inlineRadio3">{% trans "Yes" %}</label>
        </div>
      </div>
      <div class="col-md-1">
        <div class="form-check form-check-inline">
          <input class="form-check-input inlineRadioNo" type="radio" name="inlineRadioOptions2" value="no">
          <label class="form-check-label" for="inlineRadio4">{% trans "No" %}</label>
        </div>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-md-10">
        {% blocktrans %}
          Avez-vous eu un épisode de respiration sifflante (asthme) ?
        {% endblocktrans %}
      </div>
      <div class="col-md-1">
        <div class="form-check form-check-inline">
          <input class="form-check-input inlineRadioYes" type="radio" name="inlineRadioOptions3" value="yes">
          <label class="form-check-label" for="inlineRadio5">{% trans "Yes" %}</label>
        </div>
      </div>
      <div class="col-md-1">
        <div class="form-check form-check-inline">
          <input class="form-check-input inlineRadioNo" type="radio" name="inlineRadioOptions3" value="no">
          <label class="form-check-label" for="inlineRadio6">{% trans "No" %}</label>
        </div>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-md-10">
        {% blocktrans %}
          Avez-vous eu une perte de connaissance ?
        {% endblocktrans %}
      </div>
      <div class="col-md-1">
        <div class="form-check form-check-inline">
          <input class="form-check-input inlineRadioYes" type="radio" name="inlineRadioOptions4" value="yes">
          <label class="form-check-label" for="inlineRadio7">{% trans "Yes" %}</label>
        </div>
      </div>
      <div class="col-md-1">
        <div class="form-check form-check-inline">
          <input class="form-check-input inlineRadioNo" type="radio" name="inlineRadioOptions4" value="no">
          <label class="form-check-label" for="inlineRadio8">{% trans "No" %}</label>
        </div>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-md-10">
        {% blocktrans %}
          Si vous avez arrêté le sport pendant 30 jours ou plus pour des raisons de santé, avez-vous repris sans l’accord d’un médecin ?
        {% endblocktrans %}
      </div>
      <div class="col-md-1">
        <div class="form-check form-check-inline">
          <input class="form-check-input inlineRadioYes" type="radio" name="inlineRadioOptions5" value="yes">
          <label class="form-check-label" for="inlineRadio9">{% trans "Yes" %}</label>
        </div>
      </div>
      <div class="col-md-1">
        <div class="form-check form-check-inline">
          <input class="form-check-input inlineRadioNo" type="radio" name="inlineRadioOptions5" value="no">
          <label class="form-check-label" for="inlineRadio10">{% trans "No" %}</label>
        </div>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-md-10">
        {% blocktrans %}
          Avez-vous débuté un traitement médical de longue durée (hors contraception et désensibilisation aux allergies) ?
        {% endblocktrans %}
      </div>
      <div class="col-md-1">
        <div class="form-check form-check-inline">
          <input class="form-check-input inlineRadioYes" type="radio" name="inlineRadioOptions6" value="yes">
          <label class="form-check-label" for="inlineRadio11">{% trans "Yes" %}</label>
        </div>
      </div>
      <div class="col-md-1">
        <div class="form-check form-check-inline">
          <input class="form-check-input inlineRadioNo" type="radio" name="inlineRadioOptions6" value="no">
          <label class="form-check-label" for="inlineRadio12">{% trans "No" %}</label>
        </div>
      </div>
    </div>

    <h2>A ce jour</h2>

    <div class="row mb-2">
      <div class="col-md-10">
        {% blocktrans %}
          Ressentez-vous une douleur, un manque de force ou une raideur suite à un problème osseux, articulaire ou musculaire (fracture, entorse, luxation, déchirure, tendinite, etc...) survenu durant les 12 derniers mois ?
        {% endblocktrans %}
      </div>
      <div class="col-md-1">
        <div class="form-check form-check-inline">
          <input class="form-check-input inlineRadioYes" type="radio" name="inlineRadioOptions7" value="yes">
          <label class="form-check-label" for="inlineRadio13">{% trans "Yes" %}</label>
        </div>
      </div>
      <div class="col-md-1">
        <div class="form-check form-check-inline">
          <input class="form-check-input inlineRadioNo" type="radio" name="inlineRadioOptions7" value="no">
          <label class="form-check-label" for="inlineRadio14">{% trans "No" %}</label>
        </div>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-md-10">
        {% blocktrans %}
          Votre pratique sportive est-elle interrompue pour des raisons de santé ?
        {% endblocktrans %}
      </div>
      <div class="col-md-1">
        <div class="form-check form-check-inline">
          <input class="form-check-input inlineRadioYes" type="radio" name="inlineRadioOptions8" value="yes">
          <label class="form-check-label" for="inlineRadio13">{% trans "Yes" %}</label>
        </div>
      </div>
      <div class="col-md-1">
        <div class="form-check form-check-inline">
          <input class="form-check-input inlineRadioNo" type="radio" name="inlineRadioOptions8" value="no">
          <label class="form-check-label" for="inlineRadio14">{% trans "No" %}</label>
        </div>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-md-10">
        {% blocktrans %}
          Pensez-vous avoir besoin d’un avis médical pour poursuivre votre pratique sportive ?
        {% endblocktrans %}
      </div>
      <div class="col-md-1">
        <div class="form-check form-check-inline">
          <input class="form-check-input inlineRadioYes" type="radio" name="inlineRadioOptions9" value="yes">
          <label class="form-check-label" for="inlineRadio15">{% trans "Yes" %}</label>
        </div>
      </div>
      <div class="col-md-1">
        <div class="form-check form-check-inline">
          <input class="form-check-input inlineRadioNo" type="radio" name="inlineRadioOptions9" value="no">
          <label class="form-check-label" for="inlineRadio16">{% trans "No" %}</label>
        </div>
      </div>
    </div>

    <div class="mb-5 d-block"></div>
    
  
    <p>Si vous avez répondu <strong>NON à toutes les questions</strong>:<br/>
       Pas de certificat médical à fournir. Simplement attestez, selon les modalités prévues par la fédération, avoir répondu NON à toutes les questions lors de la demande de renouvellement de la licence.</p>

    <p>Si vous avez répondu <strong>OUI à une ou plusieurs questions</strong>:<br/>
       Certificat médical à fournir. Consultez un médecin et présentez-lui ce questionnaire renseigné.</p>

    <div class="form-row">
      <div class="col-6">
        <div id="div_id_answer" class="form-group">
          <label for="id_answer_0" class="col-form-label  requiredField">
            Answer<span class="asteriskField">*</span>
          </label>
          <div class="">
            <div class="form-check">
              <label for="id_id_answer_0_1" class="form-check-label">
                <input class="form-check-input" checked="checked" name="answer" id="id_id_answer_0_1" value="0" type="radio" disabled>
                no
              </label>
            </div>
            <div class="form-check">
              <label for="id_id_answer_0_2" class="form-check-label">
                <input class="form-check-input" name="answer" id="id_id_answer_0_2" value="1" type="radio" disabled>
                yes
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% comment %} <button type="submit" id="submitButton" class="btn btn-primary">{% trans "Submit" %}</button> {% endcomment %}
    <button id="submitButton" class="btn btn-primary" disabled>{% trans "Submit" %}</button>
    <button type="reset" id="resetButton" class="btn btn-warning">{% trans "Reset" %}</button>

  </form>
{% endblock %}

{% block javascript %}
  <script>
    $(".inlineRadioYes, .inlineRadioNo").change(function(){
      $(".count").text($(".inlineRadioYes:checked").length)
      console.log("Yes: " + $(".inlineRadioYes:checked").length + " / No: " + $(".inlineRadioNo:checked").length);
      if ($(".inlineRadioNo:checked").length == 9){
        $("#id_id_answer_0_1").prop('checked', false);
        $("#id_id_answer_0_2").prop('checked', true);
      } else {
        $("#id_id_answer_0_1").prop('checked', true);
        $("#id_id_answer_0_2").prop('checked', false);
      }
      if (($(".inlineRadioNo:checked").length + $(".inlineRadioYes:checked").length) == 9){
        $("#submitButton").removeAttr("disabled")
      }
    });
    $("#submitButton").click(function(){
      if ($(".inlineRadioNo:checked").length == 9){
        $("#id_id_answer_0_1").prop('checked', false);
        $("#id_id_answer_0_2").prop('checked', true);
      }
    });
    $("#resetButton").click(function(){
      $("#submitButton").prop("disabled", true);
    })
  </script>
{% endblock %}