{% extends "base.html" %}

{% block path %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">404</li>
  </ol>
</nav>
{% endblock %}

{% block page_title %}
  Not found
{% endblock %}

{% block content %}
  The page does not exist...

  <form>
    <button type="button" class="btn btn-primary" onclick="history.back()">{% trans "Go back" %}</button>
    <a href="{% url 'home' %}" class="btn btn-primary" role="button">{% trans "Go to homepage" %}</a>
  </form>
{% endblock %}
