{% extends "base.html" %}

{% load i18n %}

{% block path %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{% trans "Seasons" %}</a></li>
    </ol>
  </nav>
{% endblock %}


{% block page_title %}
  {% trans "Seasons" %}
{% endblock %}

{% block page_title_buttons %}
  {% if user.is_staff %}
    <div class="btn-group float-right" role="group">
      <a class="btn btn-primary" href="{% url 'sports-manager:season-create' %}">{% trans "New season" %}</a>
    </div>
  {% endif %}
{% endblock %}


{% block content %}
  <div class="row">
    {% for season in season_list %}
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <a href="{{ season.get_absolute_url }}">{{ season }}</a>
      </div>
    {% empty %}
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <p>No season...</p>
      </div>
    {% endfor %}
  </div>
{% endblock %}
