{% extends "base.html" %}

{% load bootstrap4 %}
{% load staticfiles %}

{% block path %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Teams</li>
    </ol>
  </nav>
{% endblock %}

{% block page_title %}
  Teams
{% endblock %}

{% block content %}
  <div class="list-group">
  {% for team in team_list %}
    <a href="{% url 'dj-sports-manager:team-detail' team.slug %}" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex row">
        {% if team.img %}
        <img class="col-md-3" src="{{ team.img.url }}" alt="{{ team.name }}'s logo">
        {% endif %}
        <div class="col-md-9 align-self-center">
          <h5 class="mb-1">{{ team }}</h5>
          <p class="mb-1">{{ team.summary }}</p>
        </div>
      </div>
    </a>
  {% empty %}
    <p>No team listed yet...</p>
  {% endfor %}
  </div>
{% endblock %}